<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804083944604-gb1ndddqn5i3nn1j5lmuik8hffmf5fkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804083944604-gb1ndddqn5i3nn1j5lmuik8hffmf5fkv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>804083944604-a0ldt6mcfole5tp8p60sk20e3fd704cl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXMck4mBNLR2kmrhWra4t6U0Gx0s0nQiE</string>
	<key>GCM_SENDER_ID</key>
	<string>804083944604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bluewish</string>
	<key>PROJECT_ID</key>
	<string>blue-wish</string>
	<key>STORAGE_BUCKET</key>
	<string>blue-wish.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804083944604:ios:57c4832b194ea266663159</string>
</dict>
</plist>